*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}nav{
    width: 100%;
    height: 15vh;
    background-color: #4588f7;  
    position:fixed; 
    z-index: 1;
}.div-1{
    position: relative;
    left: 40px;
    top: 20px;   
}.div-1 label{
    color: white;
    font-size: 25px;
    font-family: Arial;
}.icon{
    color: white;
   
}.div-1 p{
    margin-left: 92px;
    font-family: Arial;
    color: white;
}
ul{
    list-style-type: none;
    margin-bottom:40px ;
    position: relative;
    bottom: 20px; 
    
}li{
    margin-left:830px;  
}
li a{
    display: block;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: white; 
    transition: all 0.5s;
}li a:hover{
    color: rgb(8, 185, 244);
}.border{
    border-left: 1px solid white; 
}.div-3{
    position: relative;
    bottom: 600px;
    padding: 20px;
    left: 30px;
}.div-3 p{
    font-size: 55px;
    color: white;
    text-align: justify;
}.div-3 button{
    background-color: #4588f7; 
    position: relative;
    top: 40px;
    left: 10px;
    padding: 10px;
    border-radius: 2px;
    width: 120px;
    border: none;
    transition: all 0.5s;
}
.div-3 a{
    text-decoration: none;
    color: white;
    border-radius: 2px;
   
}.div-3 button:hover{
    background-color: rgb(8, 185, 244);;
}.div-4{
   position: relative;
   bottom: 180px;
   width: 80%;
   left: 60px;
   margin: auto;
}.div-5{
    text-align: center;
    font-family: Arial;
}.div-5 h1{
    color: rgb(90, 89, 89);
}.div-6{
    display: inline-block;
    margin-left: 180px;
    margin-top: 30px;
}.div-7{
    display: inline-block;
    float: left;
    margin-top: 30px;
    margin-left: 130px; 
}.div-8{
    text-align: center;
    display:flex;
    margin-right: 70px;
    width: 90%;
    margin: auto;
   
    
}.div-8 h3{
    text-align: center;
    position: relative;
    bottom: 50px;
    left: 660px;

}
.div-8 img{
    margin: 0;
    width:320px;
    height: 320px; 
   position: relative;
   left: 105px;
}.div-9{
    margin-top: 10px;
    display: flex;
    margin-left: 180px;
    
}.div-9 img{
    margin: 0;
    width:320px;
    height: 320px;
    position: relative;
    left: 100px;
   
}.div-10{
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
}
.div-10 h3{
margin-bottom: -20px;
margin-left: 590px;
padding: 50px;
}.div-11{
    margin-left: 100px;
    display:inline-block;
}.div-11 .icon2{
    background-color: white;
    border: 1px solid #4588f7;
    padding: 10px;
    color: #4588f7;
}.div-11 span{
    margin-left: 14px;
    text-transform: uppercase;
}.div-11 img{
    width: 100px;
     height: 100px;
      border-radius: 50%;;
      border-color: #4588f7;
}.div-11 p{
    margin-left: 18px;
        position: relative;
        bottom: 3px; 
}
.div-11 .subp{
    margin-left: 60px;
    position: relative;
    bottom: 7px;
}.div-12{
    width: 100%;
    height: 20vh;
    background-color: rgb(159, 156, 156);
    color: white;
    display: inline-block;
    margin-top: 20px;
}.div-12 h3{
    
margin-left: 600px;
padding: 20px;

}.div-12 .icon3{
    background-color: rgb(159, 156, 156);
    border: 1px solid #4588f7;
    padding: 10px;
    color: #4588f7;
    border: 1px solid #4588f7;
    padding: 10px;
    color: #4588f7;
    border-radius: 50%;
    margin-left: 180px;
}.div-12 p{
   position: relative;
    padding: 4px;
    left: 150px;
}.div-13{
    display: inline-block;
}.div13{
    
}footer{
    width: 100%;
    height: 23vh;
    background-color: rgb(42, 41, 41);
    color: white;
  margin-top: 20px;
    padding: 20px;
}footer h2{
    margin-left: 530px;
padding: 20px;
}footer i{
    text-align: center;
    padding: 30px;
}.icon4{
    margin-left: 550px;
    border: 1px solid white;
    padding: 10px;
}.icon5{
    border: 1px solid white;
    padding: 10px;
    margin: 8px;
}footer a{
    color: white;
}footer p{
margin-left:590px ; 
color: white;
}